#preloader {
  background: #000 url(assets/logo_animated_black.gif) no-repeat center;
  background-size: 30%;
  margin: -8px;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
#main {
  text-align: center;
  margin-top: 310px;
  transition: opacity 2s ease-in;
  opacity: 0;
  display: none;
  color: white;
}
body {
  background-color: #000;
}
