@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico-Regular.ttf);
}
@media only screen and (max-width: 500px) {
  #preloader {
    background: #1a4d2e url(assets/logo_animated_green.gif) no-repeat center;
    background-size: 50%;
    margin-top: -200px;
    margin-left: -3px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  #photo-div {
    margin-top: -777px;
  }
  #photo-img {
    width: 200px;
    margin-left: 75px;
    animation: heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  #greetings-div {
    margin-top: 200px;
  }
  #greetings-span {
    color: #faf3e3;
    font-family: "Pacifico", sans-serif;
    margin-top: 150px;
    margin-bottom: 110px;
    font-size: 80px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
  #intro-div {
    width: 350px;
    color: #faf3e3;
    font-family: "Apercu", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
    margin-left: 7px;
    margin-top: 10px;
  }
}
